{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Main</title>
  <link rel="stylesheet" href="{%static 'main/css/style.css'%}" >
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">


  
</head>

  
<body>
  <header>
    <nav>
      <label> <a href="" class="logo">Sandtale</a></label>
      <ul>

        <li><a href="about_us"><button class="aboutUs-button">
    About us
  </button></a></li>
      
        <li> <div class="profile-pic"> <a href="profile.html"><img src="{%static 'main/img/icons8-гость-мужчина-24.png'%}" height="24" width="24"></a></div></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="content">
      
      <div class="dreams">
        
        <div class="dream1">
          <div class="thumbnail">
            <img src="{%static 'main/img/dreams/dream1.jpg'%}">
          </div>
          <div class="details">
            <div class="author">
               <a href=""> <img src="{%static 'main/img/he.jpg'%}"> </a>
            </div>
            <div class="title">
              <h3>Dream 1</h3>
              <p> Schizo </p>
              <span> 10 years ago </span>
            </div>
          </div>
        </div>

        <div class="dream1">
          <div class="thumbnail">
            <img src="{%static 'main/img/dreams/dream2.jpg'%}">
          </div>
          <div class="details">
            <div class="author">
               <a href=""> <img src="{%static 'main/img/he.jpg'%}"> </a>
            </div>
            <div class="title">
              <h3>Dream 2</h3>
              <p> Schizo </p>
              <span> 10 years ago </span>
            </div>
          </div>
        </div>

        <div class="dream1">
          <div class="thumbnail">
            <img src="{%static 'main/img/dreams/dream3.jpg'%}">
          </div>
          <div class="details">
            <div class="author">
               <a href=""> <img src="{%static 'main/img/he.jpg'%}"> </a>
            </div>
            <div class="title">
              <h3>Dream 3</h3>
              <p> Schizo </p>
              <span> 10 years ago </span>
            </div>
          </div>
        </div>

        <div class="dream1">
          <div class="thumbnail">
            <img src="{%static 'main/img/dreams/dream4.png'%}">
          </div>
          <div class="details">
            <div class="author">
               <a href=""> <img src="{%static 'main/img/he.jpg'%}"> </a>
            </div>
            <div class="title">
              <h3>Dream 4</h3>
              <p> Schizo </p>
              <span> 10 years ago </span>
            </div>
          </div>
        </div>

        <div class="dream1">
          <div class="thumbnail">
            <img src="{%static 'main/img/dreams/dream5.png'%}">
          </div>
          <div class="details">
            <div class="author">
               <a href=""> <img src="{%static 'main/img/he.jpg'%}"> </a>
            </div>
            <div class="title">
              <h3>Dream 5</h3>
              <p> Schizo </p>
              <span> 10 years ago </span>
            </div>
          </div>
        </div>

        <div class="dream1">
          <div class="thumbnail">
            <img src="{%static 'main/img/dreams/dream6.jpg'%}">
          </div>
          <div class="details">
            <div class="author">
               <a href=""> <img src="{%static 'main/img/he.jpg'%}"> </a>
            </div>
            <div class="title">
              <h3>Dream 6</h3>
              <p> Schizo </p>
              <span> 10 years ago </span>
            </div>
          </div>
        </div>

        <div class="dream1">
          <div class="thumbnail">
            <img src="{%static 'main/img/dreams/dream1.jpg'%}">
          </div>
          <div class="details">
            <div class="author">
               <a href=""> <img src="{%static 'main/img/he.jpg'%}"> </a>
            </div>
            <div class="title">
              <h3>Dream 7</h3>
              <p> Schizo </p>
              <span> 10 years ago </span>
            </div>
          </div>
        </div>

        <div class="dream1">
          <div class="thumbnail">
            <img src="{%static 'main/img/dreams/dream2.jpg'%}">
          </div>
          <div class="details">
            <div class="author">
               <a href=""> <img src="{%static 'main/img/he.jpg'%}"> </a>
            </div>
            <div class="title">
              <h3>Dream 7</h3>
              <p> Schizo </p>
              <span> 10 years ago </span>
            </div>
          </div>
        </div>

        <div class="dream1">
          <div class="thumbnail">
            <img src="{%static 'main/img/dreams/dream3.jpg'%}">
          </div>
          <div class="details">
            <div class="author">
               <a href=""> <img src="{%static 'main/img/he.jpg'%}"> </a>
            </div>
            <div class="title">
              <h3>Dream 7</h3>
              <p> Schizo </p>
              <span> 10 years ago </span>
            </div>
          </div>
        </div>

        <div class="dream1">
          <div class="thumbnail">
            <img src="{%static 'main/img/dreams/dream4.png'%}">
          </div>
          <div class="details">
            <div class="author">
               <a href=""> <img src="{%static 'main/img/he.jpg'%}"> </a>
            </div>
            <div class="title">
              <h3>Dream 6</h3>
              <p> Schizo </p>
              <span> 10 years ago </span>
            </div>
          </div>
        </div>

        <div class="dream1">
          <div class="thumbnail">
            <img src="{%static 'main/img/dreams/dream5.png'%}">
          </div>
          <div class="details">
            <div class="author">
               <a href=""> <img src="{%static 'main/img/he.jpg'%}"> </a>
            </div>
            <div class="title">
              <h3>Dream 6</h3>
              <p> Schizo </p>
              <span> 10 years ago </span>
            </div>
          </div>
        </div>

        <div class="dream1">
          <div class="thumbnail">
            <img src="{%static 'main/img/dreams/dream6.jpg'%}">
          </div>
          <div class="details">
            <div class="author">
               <a href=""> <img src="{%static 'main/img/he.jpg'%}"> </a>
            </div>
            <div class="title">
              <h3>Dream 3</h3>
              <p> Schizo </p>
              <span> 10 years ago </span>
            </div>
          </div>
        </div>
        
          
      </div>
    </div>
  </main>

</body>

</html>